body{
    background-color:beige;
}
#wrapper{
    margin: auto;
    color:black;
}
#summary{
    width: 70%;
}

#footer_name{
    font-size:large
}

#header_avatar{
    border: 1px solid black;
}

.header{
    text-decoration: underline;
}

.link{
    color: brown;
}